@model Hattmakarens_system.ViewModels.HatViewModel

@{
    ViewBag.Title = "Delete";
}

<h2>Ta bort hatt</h2>

<h3>Är du säker på att du vill ta bort denna hatt?</h3>
<div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Ta bort" class="btn btn-default" />
        </div>
    }
</div>
