@model Hattmakarens_system.ViewModels.ActiveOrdersViewModel

<h1>Aktiva beställningar</h1>
<table class="statistik-tabell">
    <thead>
        <tr>
            <td>Beställningsnummer</td><td>Antal hattar</td><td>Datum</td><td>Kund</td><td>Prioriterad</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model.Orders)
            {
                <tr>
                    <td>@order.Id</td><td>@order.Hats.Count</td><td>@order.Date.ToShortDateString()</td><td>@order.Customer.Name</td>
                    @if(order.Priority)
                {
                    <td><p class="ja">Ja</p></td>
                }
                else
                {
                    <td><p>Nej</p></td>
                }
                </tr>
            }
    </tbody>
</table>
