@model Hattmakarens_system.ViewModels.SearchViewModel
@{
    ViewBag.Title = "Index";
}

<h2>Sök</h2>

<div class="btn-group btn-group-toggle" data-toggle="buttons">
    <label class="btn btn-primary active">
        <input type="radio" name="options" id="option1" autocomplete="off" checked> Beställningar
    </label>
    <label class="btn btn-primary">
        <input type="radio" name="options" id="option2" autocomplete="off"> Kunder
    </label>
</div>

<div class="input-group col-md-10">
    <br />
    <div class="input-group-prepend">
        <input type="text" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon1">
    </div>
    <button class="btn btn-outline-secondary" type="button">Sök</button>
</div>

@Html.Partial("_OrderSearchPartial")

